COMPANY_NAME="Olffy"
SITE_NAME="Olffy"
SHOPIFY_REVALIDATION_SECRET=""
# Token Storefront publico compatible con Next Commerce.
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
# Usa este campo si tienes un token privado de Headless.
SHOPIFY_STOREFRONT_PRIVATE_ACCESS_TOKEN=""
# Solo si estas usando un token publico de Storefront.
SHOPIFY_STOREFRONT_PUBLIC_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="tu-tienda.myshopify.com"

# Admin API (para panel personalizado)
SHOPIFY_ADMIN_API_ACCESS_TOKEN=""
ADMIN_PASSWORD="tu_contraseña"
